*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: lightslategray;
}


.container {
  width: 800px;
  max-width: 80%;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
}


.box-text {
  text-align: center;
  font-size: 14px;
  color: white;
}

.box-text h2 {
  font-size: 18px;
}

.box-text p .highlight {
  font-weight: bold;
  color: yellow;
}

.box-subtext {
  margin-top: 20px;
  text-align: center;
  font-size: 11px;
  color: yellow;
}

.box-subtext a {
  color: lightblue;
}

.box-link {
  text-align: center;
  font-size: 12px;
}

.box-link a {
  color: aqua;
}

.box-img {
  max-width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  border-radius: 5px 5px 0 0;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}
.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

.btn-grid {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  margin-top: 20px;
}

.btn {
  background-color: hsl(200, 100%, 50%);
  border: 1px solid hsl(200, 100%, 30%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
  box-shadow: 0 1px #999;
}

.warning-btn {
  background-color: darkred!important;
  border: 1px solid darkred!important;
  border-radius: 5px!important;
  padding: 5px 10px!important;
  color: white!important;
  outline: none!important;
}

.btn:hover {
  background-color: hsl(200, 100%, 30%);
}

.btn:active {
  background-color: hsl(200, 100%, 30%);
  box-shadow: 0 0 dimgrey;
  transform: translateY(1px);
}

.warning-btn:hover {
  border: 1.5px solid black;
  transform: scale(1.01);
  transition: all .2s ease-in-out;
}

.ff-btn-grid {
  margin-top: 20px;
  display: flex;
  direction: rtl;
}

.ff-btn {
  border: none;
  background-color: #333;
  border-radius: 5px;
  font-size: 6px;
}

.ff-btn:hover {
  border: 1px solid black;

}

.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



