*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Droid Serif';
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
}
body:before{
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: .5;
  z-index: -1;
  background: url('../img/newspaper_background.jpg');
  background-size: cover;
}


.container {
  width: 800px;
  max-width: 80%;
  margin: 5vh auto 0;
  background-color: #fdfdfd;
  padding: 30px 30px 10px 30px;
  box-shadow: 0 0 10px 2px #827c7a;
}

.border{
  transform: rotate(180deg);
  width: 1100px;
  max-width: 80%;
  margin: 0 auto;
  display: block;
}

#image{
  -webkit-filter: sepia(80%) contrast(1) opacity(0.8);
  filter: sepia(80%) grayscale(1) contrast(1) opacity(0.8);
  mix-blend-mode: multiply;
}

.scorebox {
  color: #2f2f2f;
  text-align: center;
}

.box-text,.box-subtext {
  text-align: left;
  font-size: 20px;
  color: #2f2f2f;
}

.box-text h2 {
  font-size: 26px;
  font-family: 'Playfair Display';
}

.box-text p .highlight {
  font-weight: bold;
  color: #2f2f2f;
  font-family: 'Droid Serif';
}

.box-subtext {
  margin-top: 20px;
  color: #2f2f2f;
}

.box-subtext a {
  color: #2f2f2f;
}

.box-link {
  text-align: center;
  font-size: 12px;
}

.box-link a {
  color: aqua;
}

.box-img {
  max-width: 100%;
  margin-bottom: 20px;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}
.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

.btn-grid {
  align-items: center;
  display: block;
  margin-top: 20px;
}

.btn {
  background-color: transparent;
  border: 1px solid #2f2f2f;
  padding: 7px 12px;
  color: #2f2f2f;
  display: block;
  font-size: 16px;
  margin-bottom: 0.6em;
  min-width: 250px;
  width: 100%;
  line-height: 25px;
}
.first-btn{

  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
}
.first-btn span{
  text-transform: uppercase;
  font-weight: normal;
  font-style: italic;
}
.flexcontainer{
  display: flex;
  justify-content: space-around;
}
.textcontainer{
  padding-right: 20px;
}

.warning-btn {
  background-color: darkred!important;
  border: 1px solid darkred!important;
  border-radius: 5px!important;
  padding: 5px 10px!important;
  color: white!important;
  outline: none!important;
}

.btn:hover {background-color:#2f2f2f;color:white;
}


.warning-btn:hover {
  border: 1.5px solid black;
  transform: scale(1.01);
  transition: all .2s ease-in-out;
}

.ff-btn-grid {
  margin-top: 20px;
  display: flex;
  direction: rtl;
}

.ff-btn {
  border: none;
  background-color: #333;
  border-radius: 5px;
  font-size: 10px;
}

.ff-btn:hover {
  border: 1px solid black;

}

.fade-in {
  animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.head{
  text-align: center;
  position: relative;
  background-color: white;
}

header{
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 80px;
  text-transform: uppercase;
  display: inline-block;
  line-height: 100px;
  margin-bottom: 20px;

}
.subhead{
  text-transform: uppercase;
  border-bottom: 2px solid #2f2f2f;
  border-top: 2px solid #2f2f2f;
  padding: 12px 0 12px 0;
  text-align: center;
  margin-bottom: 10px;
  background-color: white;
}

.weatherforcastbox{
  border: 3px double #2f2f2f;
  padding: 10px 15px 10px 15px;
  line-height: 20px;
  display: inline-block;
}

.header-box {
  border: solid 1px;
  background-color: black;
  color: white;
  text-align: center;
}

.info-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin:10px;
  max-width: 100px;
  height: 100px;
}

.headerobjectswrapper {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 500px){
  .flexcontainer{
    display: block;
  }

  .info-box {
    display: none;
  }
}
